@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dongle&family=Fredoka:wght@300..700&family=Kosugi+Maru&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dongle&family=Fredoka:wght@300..700&family=Kosugi+Maru&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --bs-info-rgb: 85, 130, 227;
  --bs-title-font-family: 'Playfair Display', serif;
  --bs-body-font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: var(--bs-title-font-family);
  text-transform: uppercase;
}

p, span, small, .body-text {
  font-family: var(--bs-body-font-family);
}


.bg-dark-blue {  
  background-color: background: #25378A;
background: linear-gradient(90deg, rgba(37, 55, 138, 1) 10%, rgba(50, 104, 176, 1) 59%, rgba(54, 168, 213, 1) 100%); /* Azul oscuro para el fondo */  
}
.bg-gray {
  background-color: #f6f6f6; /* Gris claro para el fondo */ 
}

.bg-dark {
  background-color: #000000;
}

html {  /* movimiento de la pagina cuando se selecciona algo en el navbar */ 
    scroll-behavior: smooth;  
}



.masthead { /*para el banner principal*/
    background-image: url('https://raw.githubusercontent.com/Ali-Mari/prueba-marigraphic/refs/heads/main/img/banner-1.png');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
} 

.masthead-second { /*para el banner normal*/
    background-image: url('https://raw.githubusercontent.com/Ali-Mari/prueba-marigraphic/refs/heads/main/img/banner-proyecto-2.png');
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
} 

.masthead-avatar { /*para la imagen de mi avatar*/
  width: 200px;  /* Ajusta el ancho a 150 píxeles */  
  height: auto;  /* Mantiene la proporción original de la altura */
  margin-top: 50px;
}

.masthead-heading { /*para el titulo principal*/
  font-size: 5rem;
}

.masthead-subheading { /*para el subtitulo principal*/
  font-size: 2rem;
}




.page-section { /*para cada sección en general*/
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-section-heading { /*para los titulos de cada sección*/
    font-size: calc(1rem + 2vw);
}

.page-section-heading svg {  
    vertical-align: middle; /* Alinea verticalmente los íconos con el texto */  
    width: 30px; /* Ajusta el tamaño del ícono */  
    height: 30px; /* Ajusta el tamaño del ícono */  
}





.divider-custom {  /*para las lineas debajo de cada titulos de sección*/
  margin-top: -10px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 7rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff;
}



.row { /*para cada servicio*/
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 100px;
  padding-right: 100px;
}
.service { /*para los contenidos dentro de los cards de cada servicio*/
  align-items: center;
}
.icon { /*para los iconos de los cards de cada servicio*/
  margin-top: 20px;
  box-shadow: 0 4px 15px rgb(6,64,122);
}
.row.text-center .col-lg-4 p {  /*para los textos pequeños de cada servicio*/
  padding-left: 20px; /* Espacio izquierda del párrafo */  
  padding-right: 20px; /* Espacio derecha del párrafo */  
}






.card-container { /*para los cards de cada PORTAFOLIO*/
  width: 400px;
  height: 250px;
  position: relative;
  border-radius: 10px;
}

.card {
  position: relative;
  width: 300px;
  height: 300px;
  background: linear-gradient(90deg,rgba(37, 55, 138, 1) 10%, rgba(50, 104, 176, 1) 59%, rgba(54, 168, 213, 1) 100%);
  border-radius: 10px;
  border-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: 0 4px 10px rgb(6,64,122);
  shadow-color: linear-gradient(308deg, rgba(6,64,122,1) 0%, rgba(102,181,252,1) 100%);
  margin:10px;
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover {
  box-shadow: 0 10px 20px rgb(6,64,122);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background: linear-gradient(90deg,rgba(37, 55, 138, 1) 10%, rgba(50, 104, 176, 1) 59%, rgba(54, 168, 213, 1) 100%);
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}









button { /* diseño de boton para navbar, cards y VOLVER a portafolio */
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  background-color: white;
  box-shadow: rgb(0 0 0 / 15%) 0 0 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 10px;
  transition: all 0.5s ease;
}

button:hover {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

button:active {
  letter-spacing: 3px;
  background-color: hsl(261deg 80% 48%);
  color: hsl(0, 0%, 100%);
  box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
  transform: translateY(10px);
  transition: 100ms;
}





.custom-img {
  width: 800px;
  height: auto;
}





.profile-image {  /*para la imagen de mi en SOBRE MI*/
    width: 350px; /* Ajusta el tamaño de la imagen */  
    height: 500px; /* Asegúrate de que sea igual al ancho para mantener la forma redonda */  
    border-radius: 0%; /* Hace que la imagen sea redonda */  
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */ 
    margin-left: 100px;
    margin-right: 100 px;
    box-shadow: 0 0px 0px rgb(6,64,122); 
} 

.profile-proyecto {  /*para la imagen de mi en SOBRE MI*/
    width: 453px; /* Ajusta el tamaño de la imagen */  
    height: 250px; /* Asegúrate de que sea igual al ancho para mantener la forma redonda */  
    border-radius: 0%; /* Hace que la imagen sea redonda */  
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */ 
    margin-left: 0px;
    margin-right: 0 px;
    box-shadow: 0 0px 0px rgb(6,64,122); 
} 

.profile-proyectos {  /*para la imagen de mi en SOBRE MI*/
    width: 453px; /* Ajusta el tamaño de la imagen */  
    height: 360px; /* Asegúrate de que sea igual al ancho para mantener la forma redonda */  
    border-radius: 0%; /* Hace que la imagen sea redonda */  
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */ 
    margin-left: 0px;
    margin-right: 0 px;
    box-shadow: 0 0px 0px rgb(6,64,122); 
}




.footer { /* Ajusta en la ultima linea de contacto */
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.socials-container {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 0 auto;
  padding: 10px;
}
.social {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid rgb(194, 194, 194);
}
.github:hover {
  background: linear-gradient(33deg, rgba(88,43,136,1) 0%, rgba(203,134,255,1) 100%);
}
.email:hover {
  background: linear-gradient(45deg, #134ac0, #316ff6, #78a3ff);
}
.instagram:hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social svg {
  fill: white;
}

